.container {
    position: relative;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Optional: Add a semi-transparent background */
    color: white; /* Optional: Change text color to be more readable on images */
  }
  
  .image {
    transition: transform 0.3s ease;
  }
  
  .image:hover {
    transform: scale(0.9); /* Zoom out effect */
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:white;
  }
  